/*Globally style*/
html, body {
  width : 100%; height: 100%;
}

body {
  padding-top: 70px; overflow-x: hidden; font-family: 'Josefin Sans', sans-serif; background-color: #111111;
}

.bg-light-gray {
    background-color: #111111;
}

.text-muted{
  color: #ffffff !important;
}
h1{
  font-size: 2rem; text-align: center;
  }
h2{
  font-size: 1.75rem; text-align: center;
  }
h3{
  font-size: 1.45rem; text-align: center; font-weight: bold;
  }
p{
  font-size: 1.75rem; white-space:nowrap;
  }

/************End Globally style ***********/

/*logo style*/
#logoBand{
  font-size: 1.5em; font-weight: bold;
}
/************End logo style ***********/


/************navigation style ***********/
.navbar-nav {font-size: 1em; font-family: 'Josefin Sans', sans-serif; font-weight: bold;}
.navbar{
  background-color: rgba(4, 4, 35, 1); padding-bottom: 0px;
}
.navbar-nav >li{
  padding-left: 10px; padding-right: 10px;
}

.navbar-nav > li > a, .navbar-brand {padding-top:25px !important; padding-bottom:25px !important; height: 70px; } 

.navbar {min-height:70px !important;}

/*navigation icons style - creating the space before each navigation menu*/

.fa-globe:before {
  margin-right: 5px;
}
.fa-rocket:before {
  margin-right: 5px;
}
.fa-calendar-plus-o:before {
  margin-right: 5px;
}
.fa-shield:before {
  margin-right: 5px;
}
.fa-comment:before {
  margin-right: 5px;
}
.fa-share-alt:before{
  margin-right: 5px;
}
.fa-paper-plane-o:before{
  margin-right: 10px; color: #072150;
}
/*end navigation style*/

/************End navigation style ***********/

/************ About style ***********/
.colStyle{padding:0;}
.colStyle img{
          width:100%; margin:0 auto; display:block; height:auto;
}
h1.portfolio_style{  font-weight: bold; word-spacing: 2px; color:#fff;}
.wedpage { background-color:#0d0011;  padding: 100px 0; }
.aboutWrap{background-color:#0d0011;}

#portfolio .portfolio-item {
    right: 0; margin: 0 0 15px;
}
#portfolio * {
    z-index: 0;
}
.portfolio-caption{
  background-color: #612275; padding-top: 5px; padding-bottom: 5px;
}
.quotebtn {
  background-color:#48035b; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; 
  display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; -webkit-transition-duration: 0.4s; transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.quotebtn: hover, .quotebtn: focus{color: #560c6b; border: solid 1px #560c6b;}
/************End About style ***********/
/*************Tour page style*************/
.tourContainer{
  text-align: center; background-color: gray; padding-top: 50px; padding-bottom: 70px;
}
 table{
  width: 50%; display: inline-table; border-collapse: collapse; align-items: center; background-color: yellow; border-spacing:0;
} 
tr , td {
border: 1px solid #0c0711; height: 30px; padding: 5px; color: #fff;
}
table tr:nth-child(odd) {
background-color: #3a373d;
}
table tr:nth-child(even) {
background-color: #bab2c1;
}
td{
  font-size: 1.5rem;
}
/************End Tour style ***********/

/************ Contact form style ***********/
label{
  text-align: left; font-family: 'Josefin Sans', sans-serif; font-size: 1.5rem; color: #fff; font-weight: bold;
}
.formcontact
{
margin-left: 25%; margin-right:25%; width: 50%; padding-top: 30px; padding-bottom: 30px;
}
.contactbtn{
  float: right; background-color: #022c3f; color: #fff
}
/************End Contact form style ***********/

/************ Music page style ***********/
.colWrap{padding-left: 50px;}

.musicCover{
  width: 300px; height: 300px; position: relative; overflow: hidden; -moz-border-radius:50%; -webkit-border-radius:50%;
  -o-border-radius: 50%; border-radius: 50%; margin-top: 25%; margin-bottom: 70px; text-align: center;
 }
.musicCover img{
  margin: auto; display: block;
}
.audioCaption{
  padding-top: 20px; padding-left: 30px; width: 100%; max-width: 400px; background-color:#030315; text-align: center; padding-bottom: 20px; -webkit-box-shadow: 7px 7px 3px 0px rgba(4, 4, 35, 0.43);
  -moz-box-shadow: 7px 7px 3px 0px rgba(4, 4, 35, 0.43); box-shadow: 7px 7px 3px 0px rgba(4, 4, 35, 0.43); border-radius: 10px;
}
.btmSpace{padding-bottom: 30px; margin-bottom: 150px;}

.videoWrap{
  margin-top: 30px; padding-top: 20px;
}
 .thumbnail{
    height: 315px;
    position: relative; top: 0; right: 0; bottom: 0; left: 0; margin: auto; border: 1px solid #000000;
    background-color: #000000;
  }
iframe{
height: 300px;
width: 100%;
display: block;

  }
/*.iframeWrap {
    height: 315px; position: relative; top: 0; right: 0; bottom: 0; left: 0; margin: auto; border: 1px solid #000000;
}
.iframeWrap iframe {
    display: block; width: 100%; height: 100%;
}*/
.unselectable {
    -webkit-user-select: none; /* Chrome, Opera, Safari */ -moz-user-select: none; /* Firefox 2+ */ -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
/* Video display */
#videoDisplay {
    background-color: black;
}
/************End Music page style ***********/

/************ Footer page style ***********/
footer a { color: #a1a9b0; }
footer { background-color: #010714; width: 100%; height: 100px;  position: fixed; bottom: 0;}
footer p { color: #fff; } ul.legals { list-style: none; color: #fff; line-height: 25px; } ul.legals li { display: inline-block; }
ul.legals li::after { content: " |"; } ul.legals li:last-child::after { content: ""; } .legals { text-align: left; padding-top: 30px;}
.credit { text-align: right; padding-top: 20px;} ul.social-network { list-style: none; margin: 0; padding: 0; }
ul.social-network li { display: inline; margin-right: 10px; } ul.social-network li:last-child { margin-right: 0; }

/* footer social icons */
.social-network a.youTube:hover {
  background-color:#33ccff;
}

.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}

.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoyouTube: hover, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}
.social-circle li a {
  display:inline-block; position:relative; margin:0 auto 0 auto; -moz-border-radius:50%; -webkit-border-radius:50%;
  border-radius:50%; text-align:center; width: 50px; height: 50px; font-size:20px;
}
.social-circle li i {
  margin:0; line-height:50px; text-align: center;
}
.social-circle i {
  color: #fff; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s; -ms-transition: all 0.8s; transition: all 0.8s;
}
.ahref {
 background-color: #052745;  
}
/************End footer page style ***********/

/************ Newsletter page style ***********/
.subscribeBox{
-webkit-box-shadow: 7px 7px 3px 0px rgba(4, 4, 35, 0.43); -moz-box-shadow:    7px 7px 3px 0px rgba(4, 4, 35, 0.43);
box-shadow:         7px 7px 3px 0px rgba(4, 4, 35, 0.43); border-radius: 10px; padding-bottom: 100px; margin-top: 35px; background-color: #040423;
}
.subscribe{padding-bottom: 215px; padding-top: 70px; }
.subscribe h1 { color: #fff; margin-bottom: 40px; font-weight: bold; letter-spacing: 1.5px;}
.subscribe input[type=text] { background-color: rgb(173, 165, 175); border: solid 1px #817c82; padding: 20px; width: 35%; color: #001011; }
.subscribe input[type=submit] { background: rgb(7, 33, 80); border: solid 1px rgb(7, 33, 80); padding: 20px; font-weight: bold; color: #fff; text-transform: uppercase; letter-spacing: 1px; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.subscribe input[type=submit]:hover { background: rgb(6, 47, 214); border: solid 1px rgb(6, 47, 214); color: #000; }

.button {
  border-radius: 4px; background-color: #052745; border: none; color: #FFFFFF; text-align: center; font-size: 2rem;
  padding: 10px; width: 180px; transition: all 0.5s; cursor: pointer; margin: 5px;
}
.button span {
  cursor: pointer; display: inline-block; position: relative; transition: 0.5s; font-size: 2rem;
}
.button span:after {
  content: '\00bb'; position: absolute; opacity: 0; top: 0; right: -20px; transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1; right: 0;
}

/************End newsletter page style ***********/


    

    