 <!-- Band Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row"> <h1 class="arrow section-heading text-center portfolio_style">Meet the Band</h1>
                <div class="col-lg-12 text-center">
                    
                    <h2 class="section-subheading text-muted">We are the obenda musical band. We have been in the industry since 1960.The band is a 1960’s and have around 50 years experience of performing live at numerous events around the world. Whilst we have regular tours, we are also available for private and corporate events. </h2>
                </div>
            </div>


            <div class="row">

                <div class="col-md-4 col-sm-6 portfolio-item">
                   
                    <img src="images/guitaristC.jpg" class="img-responsive" alt=""> </a>
                    <div class="portfolio-caption">
                        <h4>Hi, I'm Sandy</h4>
                        <p class="text-muted">Guitarist since 1962</p>
                    </div>
              </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                   
                    <img src="images/singerC.jpg" class="img-responsive" alt=""> </a>
                    <div class="portfolio-caption">
                        <h4>Hello, I'm Nathan</h4>
                        <p class="text-muted">Vocalist since 1961</p>
                    </div>
              </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                    
                    <img src="images/guitarist_1C.jpg" class="img-responsive" alt="">                    </a>
                    <div class="portfolio-caption">
                        <h4>Hi, I'm Kieran</h4>
                        <p class="text-muted">Guatarist since 1965</p>
                    </div>
              </div>
              </div>

              <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                   
                    <img src="images/drummerC.jpg" class="img-responsive" alt="">                    </a>
                    <div class="portfolio-caption">
                        <h4>Hiya, I'm Golden</h4>
                        <p class="text-muted">Drums since 1968</p>
                    </div>
              </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                   
                    <img src="images/md_1.jpg" class="img-responsive" alt="">                    </a>
                    <div class="portfolio-caption">
                        <h4>Hello, I'm MD</h4>
                        <p class="text-muted">Drum since 1966</p>
                    </div>
              </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                   
                    <img src="images/vocalistC.jpg" class="img-responsive" alt="">                    </a>
                    <div class="portfolio-caption">
                        <h4>Hi, I'm Matt</h4>
                        <p class="text-muted">Vocalist since 1961</p>
                    </div>
              </div>
              </div>


            </div>


            <div class="wedpage text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                
              </div>
            </div>
          </div>
        </div>



       
    </section>
<section>
    <ul style="padding:0;">
  <li style="list-style:none;">
    <div class="card" style="background-color: grey;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-xs-12 " style="padding:0;">
            <img style="width:100%; margin:0 auto; display:block; height:auto;" src="images/wed2.jpg" alt="Card image cap">
          </div>
          <div class=" col-xs-12 col-md-3">
            <h1>We are available for wedding and special occassions</h1>

           <button class="quotebtn">Book with us</button>

          </div>
        </div>
      </div>

    </div>
  </li>
  <div class="wedpage text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                
              </div>
            </div>
          </div>
        </div>
</ul>

</section>
   