

   

    <section class="subscribe text-center bg-light-gray">
          <div class="container subscribeBox"  style="background-color: #040423" > 
          <div class="row">
            <h1>{{titleNewsletter}}</h1>
          
           
            <form action="#">
              <input type="text" name="" value="" placeholder="" required>
              <input type="submit" name="" value="Send">
            </form>
          </div>
          </div>
        </section>


<!-- Button trigger modal -->
<!--body ng-controller="myCtrl">
    <button ng-click="open_popup()">Sign up to our newsletter</button>
    <modal-dialog-add show='modalShown_add'>
<form novalidate ng-submit="form_submit(add_form)" id="add_form" name="add_form" angular-validator method="post" class='form-horizontal form-validate'>
  <div class="modal-header">
    <h3 id="myModalLabel"><i class="icon-user"></i>&nbsp; Add Advertiser</h3>
  </div>
  <div class="modal-body" style="overflow-x:hidden">
    <div class="control-group">
      <label for="textfield" class="control-label">Name<span style='color:red;'>*</span></label>
      <div class="controls">
        <input type="text" ng-model="text.first_name" name="first_name" id="first_name" class="form-control input-xlarge" required required-message="'First name is required'" placeholder="Enter Your First name">  
        <span style="color:red;" ng-show="add_form.first_name.$touched && add_form.first_name.$invalid">
           <span ng-show="add_form.first_name.$error.required">Name is required</span>
        </span>
      </div>
    </div>
    <div class="control-group">
      <label for="textfield" class="control-label">Email<span style='color:red;'>*</span></label>
      <div class="controls">
        <input type="text" ng-model="text.last_name" name="L_email" id="last_name" class="form-control input-xlarge" required  placeholder="Enter Your Email">  
        <span style="color:red;" ng-show="add_form.L_email.$touched && add_form.L_email.$invalid">
           <span ng-show="add_form.L_email.$error.required">Email is required</span>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <input type="submit" id="add_manager_user"class="btn btn-primary" value="Submit" ng-disabled="add_form.$invalid"> 
        <button type="button" ng-click="close_add()"  class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>  
  </div>
</form>
</modal-dialog-add>

  </body-->

  
</div>