<section class="bg-light-gray">
<div class="tourContainer bg-light-gray">
<h2  style="font-size: 1.75rem;" class="text-muted">Here's our tour for 2017 - come and see us live</h2>
<table class="table">
  <thead>
  <tr>
    <td>Date</td>
    <td>City</td>
  </tr>
  </thead>
  
  <tbody>
  <tr ng-repeat="tourCalender in bandTour track by $index">
    <td>{{ tourCalender.date }}</td>
    <td>{{ tourCalender.city }}</td>
  </tr>
  </tbody>
</table>
<div class="row">
  <button class="button" onclick="alertTour()"><span>Buy Ticket</span></button>
</div>
</div>
</section>
